.card-img-top {
    width: 81% !important
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    width: 200px;
    border: none;
    text-align: center
}

.zoom:hover {
    -ms-transform: scale(0.9);
    transform: scale(1.1);
}

.edit {
    text-transform: uppercase;
    letter-spacing: 3px;
}