<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
      <img style="width: 150px; margin-left: 70px" src="../../assets/ShopNation.png" alt="[]">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Products, Brands and more"
              aria-label="Search" style="width: 520px; margin-left: 40px">
            <button style="background-color: midnightblue; border: none !important"><i class="fa fa-search"
                aria-hidden="true" style="color:cornsilk"></i></button>
            <!-- <button class="btn btn-danger my-2 my-sm-0" type="submit">Submit</button> -->
          </form>
          <button (click)="navtologin()" class="btn btn-binary"
            style="background-color: midnightblue; width: 200px; margin-left: 25px; color:cornsilk">Login & Sign
            up</button>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-left:0px; color:cornsilk">
              More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Sell on ShopNation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> 24x7 Customer
                Care</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Advertise</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download App</a>

            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="margin-left:60px; color:cornsilk"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i> Cart</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <img src="../../assets/ShopNation.png" alt="[]"> -->
  </div><br><br>
  <div class="container shadow mt-5 bottom-padding">
    <br>
    <h4 align="center"><b>RETURN POLICY</b></h4>
    <p>Returns is a scheme provided by respective sellers directly under this policy in terms of which the option of exchange, replacement and/ or refund is offered by the respective sellers to you. All products listed under a particular category may not have the same returns policy. For all products, the policy on the product page shall prevail over the general returns policy. Do refer the respective item's applicable return policy on the product page for any exceptions to the table below.</p>
    <p><b>General Rules for a successful Return: </b></p>
    <ul>
        <li>In certain cases where the seller is unable to process a replacement for any reason whatsoever, a refund will be given.</li>
        <li>During open box deliveries, while accepting your order, if you received a different or a damaged product, you will be given a refund (on the spot refunds for cash-on-delivery orders). Once you have accepted an open box delivery, no return request will be processed, except for manufacturing defects. In such cases, this category-specific replacement/return general conditions will be applicable. Click here to know more about Open Box Delivery</li>
        <li>For Furniture, any product related issues will be checked by an authorised service personnel (free of cost) and attempted to be resolved by replacing the faulty/ defective part of the product. Full replacement will be provided only in cases where the service personnel opines that replacing the faulty/defective part will not resolve the issue.</li>
    </ul>
</div>
  <app-footer></app-footer>


