<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
      <img style="width: 150px; margin-left: 70px" src="../../assets/ShopNation.png" alt="[]">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Products, Brands and more"
              aria-label="Search" style="width: 520px; margin-left: 40px">
            <button style="background-color: midnightblue; border: none !important"><i class="fa fa-search"
                aria-hidden="true" style="color:cornsilk"></i></button>
            <!-- <button class="btn btn-danger my-2 my-sm-0" type="submit">Submit</button> -->
          </form>
          <button (click)="navtologin()" class="btn btn-binary"
            style="background-color: midnightblue; width: 200px; margin-left: 25px; color:cornsilk">Login & Sign
            up</button>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-left:0px; color:cornsilk">
              More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Sell on ShopNation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> 24x7 Customer
                Care</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Advertise</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download App</a>

            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="margin-left:60px; color:cornsilk"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i> Cart</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <img src="../../assets/ShopNation.png" alt="[]"> -->
  </div><br><br>
  <div class="container shadow mt-5">
    <br>
    <h4><u>ShopNation Terms of Use</u></h4>
    <p><b>This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures.</b></p>
    <p><b>This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of www.shopnation.com website.</b></p>
    <p>Your use of the Website and services and tools are governed by the following terms and conditions ( "Terms of Use" ) as applicable to the Website including the applicable policies which are incorporated herein by way of reference. If You transact on the Website, You shall be subject to the policies that are applicable to the Website for such transaction. By mere use of the Website, You shall be contracting with ShopNation Internet Private Limited and these terms and conditions including the policies constitute Your binding obligations, with ShopNation.</p>
    <p>For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on the Website by providing Registration Data while registering on the Website as Registered User using the computer systems. ShopNation allows the User to surf the Website or making purchases without registering on the Website. The term "We" , "Us" , "Our" shall mean ShopNation Internet Private Limited.</p>
    <p>When You use any of the services provided by Us through the Website, including but not limited to, (e.g. Product Reviews, Seller Reviews), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at Our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to You. It is Your responsibility to review these Terms of Use periodically for updates / changes. Your continued use of the Website following the posting of changes will mean that You accept and agree to the revisions. As long as You comply with these Terms of Use, We grant You a personal, non-exclusive, non-transferable, limited privilege to enter and use the Website.</p>
    <p><b>ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO ALL THE TERMS AND CONDITIONS UNDER THESE TERMS OF USE, SO PLEASE READ THE TERMS OF USE CAREFULLY BEFORE PROCEEDING.</b> By impliedly or expressly accepting these Terms of Use, You also accept and agree to be bound by ShopNation Policies ((including but not limited to Privacy Policy available at Privacy) as amended from time to time.</p>
<br><br>
</div><br>
  <app-footer></app-footer>


