<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
      <img style="width: 150px; margin-left: 70px" src="../../assets/ShopNation.png" alt="[]">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Products, Brands and more"
              aria-label="Search" style="width: 520px; margin-left: 40px">
            <button style="background-color: midnightblue; border: none !important"><i class="fa fa-search"
                aria-hidden="true" style="color:cornsilk"></i></button>
            <!-- <button class="btn btn-danger my-2 my-sm-0" type="submit">Submit</button> -->
          </form>
          <button (click)="navtologin()" class="btn btn-binary"
            style="background-color: midnightblue; width: 200px; margin-left: 25px; color:cornsilk">Login & Sign
            up</button>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="margin-left:0px; color:cornsilk">
              More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Sell on ShopNation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> 24x7 Customer
                Care</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Advertise</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download App</a>

            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="margin-left:60px; color:cornsilk"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i> Cart</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <img src="../../assets/ShopNation.png" alt="[]"> -->
</div><br><br>
  <div class="container mt-5 shadow">
    <br>
    <h4><u>Payments</u></h4>
    <h6>How do I pay for a ShopNation purchase?</h6>
    <p>ShopNation offers you multiple payment methods. Whatever your online mode of payment, you can rest assured that ShopNation's trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.</p>
    <p>You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.</p>
    <p>ShopNation also accepts payments made using Visa, MasterCard and Maestro credit/debit cards in India.</p>
    <h6>Are there any hidden charges (Octroi or Sales Tax) when I make a purchase on ShopNation?</h6>
    <p>There are NO hidden charges when you make a purchase on ShopNation. The prices listed for all the items are final and all-inclusive. The price you see on the product page is exactly what you pay.</p>
    <h6>What is Cash on Delivery?</h6>
    <p>If you are not comfortable making an online payment on ShopNation.com, you can opt for the Cash on Delivery (C-o-D) payment method instead. With C-o-D you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online.</p>
    <p>The maximum order value for a Cash on Delivery (C-o-D) payment is ₹50,000. It is strictly a cash-only payment method. Gift Cards or store credit cannot be used for C-o-D orders. Foreign currency cannot be used to make a C-o-D payment. Only Indian Rupees accepted.</p>
    <h6>Is it safe to use my credit/debit card on ShopNation?</h6>
    <p>Your online transaction on ShopNation is secure with the highest levels of transaction security currently available on the Internet. ShopNation uses 256-bit encryption technology to protect your card information while securely transmitting it to the respective banks for payment processing.</p>
    <p>All credit card and debit card payments on ShopNation are processed through secure and trusted payment gateways managed by leading banks. Banks now use the 3D Secure password service for online transactions, providing an additional layer of security through identity verification.</p>
    <br>
    <br>
    <h4><u>Shipping</u></h4>
    <h6>What are the delivery charges?</h6>
    <p>Delivery charge varies with each Seller.</p>
    <p>Sellers incur relatively higher shipping costs on low value items. In such cases, charging a nominal delivery charge helps them offset logistics costs. Please check your order summary to understand the delivery charges for individual products.</p>
    <h6>What is the estimated delivery time?</h6>
    <p>Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays.</p>
    <p>Estimated delivery time depends on the following factors:</p>
        <ul>
            <li>The Seller offering the product</li>
            <li>Product's availability with the Seller</li>
            <li>The destination to which you want the order shipped to and location of the Seller.</li>
        </ul>
    <h6>Why is the CoD option not offered in my location?</h6>
    <p>Availability of CoD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.</p>
    <p>Our courier partners have limits on the cash amount payable on delivery depending on the destination and your order value might have exceeded this limit. Please enter your pin code on the product page to check if CoD is available in your location.</p>
    <br>
</div>
  <app-footer></app-footer>

